@charset "UTF-8";

canvas {
  width: 128px;
  height: 128px;
}

summary, button, .pt, input[type="range"] {
  cursor: pointer;
}

.toright {
  display: flex;
  flex-direction: row;
}

.spacing {
  width: 1rem;
}

.drop {
  margin: 1em;
  user-select: none;
  border: dashed 4px black;
  text-align: center;
  font-weight: bold;
  padding: 2em;
  border-radius: 2em;
}


