@charset "UTF-8";

body {
    background-color: #f0f0ff;
    margin: 0;
    border: none;
    padding: 0;
}

button {
    cursor: pointer;
}

#main {
    max-height: 256px;
}

#camera {
    max-height: 256px;
}

#copy {
    max-height: 128px;
}

