
body {
  user-select: none;
  margin: 0;
  border: none;
  padding: 0;
}

#maincanvas {
  user-select: none;
  margin: 0;
  border: none;
  padding: 0;
}

.selnoborder {
  outline: none !important;
  border: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
}


.pointer {
  cursor: pointer;
}
