
.drop {
  user-select: none;
  font-weight: bold;
  padding: 1em;
  text-align: center;
  background-color: steelblue;
}

.tobottom {
  display: flex;
  flex-direction: column;
}

.num4 {
  width: 4em;
}
