@charset "UTF-8";

.num6 {
    width: 6em;
}

#canvas1 {
    border: solid 1px red;
    width: 320px;
    height: 180px;
}

#canvas2 {
    border: solid 1px green;
    width: 320px;
    height: 180px;
}


