
.pointer {
  cursor: pointer;
}

.toright {
  display: flex;
  flex-direction: row;
}

.drop {
  margin: 0.5rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  border: dashed 4px black;
}

#tunelist {
  height: 60dvh;
  overflow-y: scroll;
}

.but {
  cursor: pointer;
  width: 8vw;
  height: 4vw;
  font-size: 4vw;
}
#opendir, #cleardb {
  width: 16vw;
  height: 4vw;
}

