
.pointer {
  cursor: pointer;
}

@media (orientation: landscape) {
  .largebutton {
    width: 40vh;
  }
  #video {
    max-height: 40vh;
  }
}

@media (orientation: portrait) {
  .largebutton {
    width: 40vw;
  }
  #video {
    max-width: 80vw;
  }
}

#numberselement {
  width: 50vw;
  height: 6rem;
}

.drop {
  margin: 1em;
  border: dashed 4px black;
  border-radius: 2rem;
  padding: 1em;
  text-align: center;
  font-weight: bold;
}

