@charset "UTF-8";

.num6 {
  width: 6em;
}

.pt {
  cursor: pointer;
}

.toright {
  display: flex;
  flex-direction: row;
}

#numberselement {
  width: 50vw;
  height: 6rem;
}

#mainvideo {
  border: solid 1px black;
  width: 320px;
  height: 180px;
  padding: 0;
}


