
canvas {
  border: solid 1px green;
  width: 128px;
  height: 128px;
}

summary, button, .pt, input[type="range"] {
  cursor: pointer;
}

.toright {
  display: flex;
  flex-direction: row;
}

.spacing {
  width: 1rem;
}

.drop {
  margin: 1em;
  user-select: none;
  border: dashed 4px black;
  text-align: center;
  font-weight: bold;
  padding: 2em;
  border-radius: 2em;
}

.box {
  margin: 0.25em;
  border: solid 1px black;
  border-radius: 1em;
  padding: 0.25em;
}

#canvast {
  background-image: url('./check256_32.png');
}

